/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

div{
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: large;
    padding: 100px;

    background-color: black;
}
button{
    font-size: 20px;

     height: 100px ;
    width: 100px ;
   padding: 10px;
    background:linear-gradient(rgb(222, 70, 222),rgb(24, 132, 255));   
    
}
button:hover  .stars{
    
    display: block;
    filter:drop-shadow(0 0 10px #fffdef);
}
 */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  

 }
/*  body{
    background: linear-gradient(pink,blue);
    font-family: arial, sans-serif;
 }

.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
     animation: 1.5s infinite anim-button;
 }
 @keyframes anim-button {
    0%{transform: rotate(0);}
    100%{transform: rotateZ('90deg');}
 }

button
 {
    height: 48px;
    font-size: large;
    
    width: 100px;
    background: transparent;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
    backdrop-filter: blur(10px);
 }
 */
 body{
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
 }

 .element{
    height: 200px;
    width: 200px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: serif;
    font-weight: 700;
    font-style: 1.35rem;
    color: white;
    animation-name: hello,dink;
    animation-duration: 4s;
    

 }
 @keyframes  dink{
    0%{
       



    }
    50%{
      

    }
    100%{
       /*  transform: rotate(360deg);  */
       transform:(360deg);
        border-radius: 50%;
        background:rgb(162, 96, 96);
        color: rgb(0, 0, 0);
        scale: 3;
        

    }
 }
